* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FEFFFE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
}

:root {
    --game-field-width: 55ch;
    --game-field-height: 55ch;
    --score-sheet-width: 60ch;
    --score-sheet-height: 70vh;
}

body {
    display: flex;
    flex-direction: column;
    background: #2D2A32;
}
.buttons-panel {
    width: var(--game-field-width);
    margin: 10px auto;
    padding: 0 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.game-button {
    text-align: center;
    height: 2em;
    line-height: 3vh;
    padding-bottom: 2px;
    border-radius: 5px;
    background: none;
    padding: 0 10px;
    border: 2px solid #f1d37b;
}
.game-button:hover {
    background: #28262c;
    cursor: pointer;
    transition: 0.5s;
}
.restart:hover {
    border: 2px solid #d11717;
}
.score:hover {
    border: 2px solid #3cd117;
}
.score-sheet {
    display: none;
    position: absolute;
    background-color: rgb(9, 9, 9);
    height: var(--score-sheet-height);
    width: var(--score-sheet-width);
    top: 0;
    left: 0;
    margin: 15vh calc(50% - (var(--score-sheet-width) / 2));
    border-radius: 5px;
    transition: 0.5s;
    z-index: 5;
}
.attempts {
    margin: auto 0;
}
.memory-game {
    /* min-width: 880px; */
    /* width: 65%; */
    /* height: 880px; */
    width: var(--game-field-width);
    height: var(--game-field-height);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    perspective: 1300px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .7s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 6px;
    position: absolute;
    border-radius: 5px;
    background: rgb(0,153,51);
    background: radial-gradient(circle, rgba(0,153,51,1) 0%, rgba(0,129,72,1) 35%, rgb(0, 88, 49) 100%);
    object-fit: scale-down;
    background-position: center;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
    padding: 5px;
}

table {
    width: 80%; /* Ширина таблицы */
    margin: 0 auto;
    background: none; /* Цвет фона таблицы */
    color: #FEFFFE; /* Цвет текста */
    border-spacing: 3px; /* Расстояние между ячейками */
   }
td, th {
    background: none; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
    text-align: center;
}
th {
    color: #f1d37b;
}
.close {
    background-color: #d11717;
    padding: 0 auto;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close:hover {
    background-color: #f31d1d;
    margin: -1px 1px;
    cursor: pointer;
}

footer {
    max-width: 1280px;
    margin: auto;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    width: var(--score-sheet-width);
  }
  .footer-data-element {
    color: #f1d37b;
    transition: color 0.3s;
  }
  .footer-gh {
    color: #FEFFFE;
    text-decoration: none;
  }
  .footer-gh:hover {
    color: #f1d37b;
  }
  .footer-link-item {
    color:#FEFFFE; 
    font-size: 18px;
    display: inline-block;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(228deg) brightness(106%) contrast(100%);
    background-image: url(./img/rs_school_js.svg);
    background-size: cover;
    height: 1.7em;
    width: 4.7em;
    align-self: center;
  }
  .footer-link-item:hover {
    filter: invert(79%) sepia(74%) saturate(288%) hue-rotate(349deg) brightness(100%) contrast(89%);
  }
